@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--color-bg-primary:#050505;
--color-bg-card:rgba(18,18,20,0.65);
--color-border-card:rgba(255,255,255,0.06);
--color-accent-start:#7C3AED;
--color-accent-end:#2DD4BF;
--color-text-main:#FAFAFA;
--color-text-muted:#A1A1AA;
}

body{
background:var(--color-bg-primary);
color:var(--color-text-main);
font-family:system-ui;
}